<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OpenClassroom</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Open-source Classroom App" />
    <link rel="stylesheet" type="text/css" href="/semantic.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="/semantic.min.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    
    <div class="ui container">
      <div class="ui secondary  menu">
        <a class="item header">
    {brand}
  </a>
  <a class="item">
    Home
  </a>
  <a class="item">
    Classrooms
  </a>
  
    <a class="ui item">
      Logout
    </a>
</div>
      <p></p>
    </div>
  </body>
</html>
